/*CSS Reset*/
*{
    margin: 0;
    padding: 0;

}
/*css variable*/
:root{
    --navbar-height: 10px;
}
/*Navigation bar*/
#navbar{
    position:relative;
    display: flex;
    align-items: center;
    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width:100%;
    top: 0px;
    left:0px;
    z-index: -1;
    opacity: 0.5;
}



/* Logo and Image*/
#logo{
    height: 100px;
    
    margin:20px 30px;
    
}
#logo img{
    height: 70px;
    width: 80px;
    margin: 20px 20px;
    

    
}
ul{
    display: flex;
    
}
#navbar ul li{
    list-style: none;
    font-size: 2.1rem;
}
#navbar ul li a{
    color:white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}
#navbar ul li a:hover{
    color: black;
    background-color: aliceblue;
}
/*Home section*/
#home {
    display: flex;
    flex-direction: column;
    padding: 30px 200px;
    justify-content: center;
    align-items: center;
    height: 650px;
    
    
    
}
#home::before{
    content:"";
    position: absolute;
    background:url('../images/1ap.jpg') no-repeat center  center/cover;
    height: 100%;
    width: 100%;
    top:0px;
    left:0px;
    z-index: -1;
    opacity:0.9;
}
#home h1{
    color:yellow;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 2.1rem;
}
/*service section*/
#services{
    margin: 150px;
    display: flex;
    margin: 3px;
}
#services .box{
    border: 5px solid brown;
    height:450px;
    margin: 18px;
    border-radius: 14px;
    


}

.box img{
    height:250px;
    display: block;
    margin: auto;
    padding: 7px;
}
.box{
    background-color:pink;
}


/*Utility classes*/

.primary{
    font-size: 4rem;
    padding: 12px;
    
}
.secondary{
    font-size: 3rem;
    padding: 12px;
    align-items: center;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(251, 73, 73);
    color:white;
    margin: 17px;
    font-size: 2rem;
    border-radius: 15px;
}
.center{
    text-align: center;
}
.service-container{
    padding: 10px;
    height:700px
}
/* menu section*/
#food{
    display:flex;
}
.box1 img{
    margin: 12px;
    padding: 12px;
}
/*client- section*/
#client-section{
    height: 450px;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../images/bg2.jpg') no-repeat center  center/cover;
    width: 100%;
    height: 400px;
    z-index: -1;
    opacity:0.4;
    
}
.clients-items{
    padding: 34px;

}
#clients{
    display: flex;
    justify-content:center;
    align-items: center;


}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../images/bg3.jpg') no-repeat center center/cover;

}


#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
    #contact-box form{
        width: 40%;
    }
    
    #contact-box label{
       font-size: 1.3rem;
       
    
    }
    .box1 p{
        font-size:1.3rem;
    }
    .btn1{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(108, 108, 5);
    color:white;
    margin: 17px;
    font-size: 2rem;
    border-radius: 15px;
}

    
    